@import "mixins";
@import "variables";
@import "queries";
@import "slider";
@import "fontawesome/font-awesome.less";
@import url("http://fonts.googleapis.com/css?family=EB+Garamond");

html, body {
    height: 100%;
    h1, h2 {
        .main-font('normal','400');
        color: @main-h1-color;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        .main-font('bold','700');
        color: #000;
        font-size: 1.2em;
    }
    p {
        font-size: 1.2em;
    }
}
/** BEGIN OVERLAY **/
#overlay { 
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  background-repeat: repeat;
  z-index: 100000000;
  width: 100%;
  height: 100%;
  display:none;
} 
/** END OVERLAY **/
/** BEGIN AGE VERIFICATION **/
#age-verify-container {
    zoom: 0.7;
    opacity:1;
    text-align: center;
    background-color: #857550;
    color: #ffffff;
    width: 450px;
    padding: 30px 60px;
    margin: 15% auto;
    position: relative;
    .screen-sm-min({
        zoom: 1;
    });
  .logo {
    height: 130px;
  }
    &:after {
        border: 5px solid #aea086;
        content: "";
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;

    }
}
.content {
    position: relative;
    z-index: 2;
}
.age-verify-btn {
    border: 3px solid #aea086;
    padding:7px 20px;
    text-transform: uppercase;
    color: #FFF9E6;
    &:hover {
        border: 3px solid #fff;
    }
}
.age-verify-title {
    font-size: 1.4rem;
    margin: 10px 0;
}
.age-verify-checkbox-container {
}
.age-verify-disclaimer {
    font-size: 1.2rem;
    color: #c5baa7;
}
.age-verify-disclaimer a {
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.age-verify-disclaimer a:hover {
    text-decoration: none;
}
.age-verify-buttons {
    margin: 17px 0;
    color: #eae2d3;
    a {
        color: #eae2d3;
       &:hover {
         color:#fff;
         text-decoration: none;
       } 
    }

}
.age-verify-buttons:hover {
    
} 
/** END AGE VERIFICATION **/


header {
    background-color: #171717;

    .top-banner-container {
        background: url('/dist/images/header-back.jpg') no-repeat top center;
        background-size: cover;
    }
    .navbar-right {
        font-family: 'EB Garamond', serif;
        font-size: 1em;
        .screen-sm-min({
            font-size: 1.4em;
        });
        ul.navbar-nav {
            float: right;
            clear: both;
            > li {
            display: inline-block;
                > a {
                    padding: 5px 7px;
                    color: #EFEFEF;
                    &:hover {
                        color: #FFFFFF;
                    }
                    .screen-sm-min({
                        padding: 10px 15px;
                    });
                }
            }
        }
        ul.social-icons {
            > li {
                > a{
                    color: #af9768;
                    font-size: 1.6em;
                    line-height: 1.2em;
                    float: right;
                }
            }
        }
    }
    .navbar-header {
        button.navbar-toggle {
            position: absolute;
            right: 0;
            bottom: 0;
            border: 0;
            .icon-bar {
                background-color: #af9768;
            }
        }
        a.navbar-brand {
            position: absolute;
            height: auto;
            padding: 10px; 
            img {
                height: 100px;
                margin-top: 15px;
                margin-left: 15px;
                .screen-sm-min({
                   height: 130px;
                   margin-top: 0;
                   margin-left: 0px;
                });
            }
        }
    }
    .top-banner-container {
        padding-left: 0;
        padding-right: 0;
        .header-graphic {
            //background: url('/dist/images/header-back-mobile.jpg') no-repeat;
            background-position: -70px;
            background-size: auto 100%;
            height: 150px;
            .screen-sm-min({
                //background: url('/dist/images/header-back.jpg') no-repeat;
                background-size: auto 100%;
                height: 150px !important;
                background-position: 0; 
            });
        }
    }
    nav.navbar {
        border: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
    }
    nav.navigation-links {
        background-color: #af9768;
        min-height: 12px;

        #navbar {
            font-size: 1.2em;
            .screen-sm-min({
                padding-left: 0;
            });
        }

        .navbar-nav {
            li {
                &:first-child a {
                    .screen-sm-min({
                        margin-left: -15px;
                    });
                }
                a {
                    line-height: 5px;
                    .main-font('normal','400');
                    text-transform: uppercase;
                    color: #000;
                    cursor: pointer;

                }
            }
        }
    }
}
section.main-banner {
    background: url('/dist/images/main-image-bottle.jpg') center center;
    background-size: cover;
    background-position: 70% 0;
    background-attachment: fixed;

    margin-bottom: 0;
    padding:0;
    height: 60%;
    .screen-sm-min ({
        background-position: center center;
    });
    .content {
        position: absolute;
        bottom: 19%;
        .screen-sm-min ({
            bottom: 25%;
        });
        h1 {
            color: #fff;
            font-size:1.7em;
            .screen-sm-min ({
                font-size: 3em;
            });
            
        }
        h2 {
            color: #fff;
            font-size: 1.4em;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-transform: none;
        }
    }
    
    .screen-sm-min({
        
    });
}
section.our-story {
    background: #d3c8ab;
    min-height: 45%;
    position: relative;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 0px 0px 35px;
    -moz-border-image: url('/dist/images/storyborder-tear.jpg') 0 0 103 repeat;
    -webkit-border-image: url('/dist/images/storyborder-tear.jpg') 0 0 103 repeat;
    -o-border-image: url('/dist/images/storyborder-tear.jpg') 0 0 103 repeat;
    border-image: url('/dist/images/storyborder-tear.jpg') 0 0 103 repeat;
    .container {
        z-index: 1;
        position: relative;
        .screen-lg-min ({
            background: url('/dist/images/story.jpg') top right/contain no-repeat;
        });
        .content {
            .picture-frame {
                .rotate(-7);
                height: 200px;
            }
        }
        .story-dist {
            margin-top: 30px;
            .screen-sm-min ({
                margin-top:110px;
            });
        }
    }
    .tan-president {
        height: 100%;
        top:0;
        right:0;
        position: absolute;
        z-index: 0;
        img {
            max-height: 100%;
            .screen-sm-min({

            });
        }
    }
}

section.whiskeys {
    background-color: #cec8b7;
    background: #cec8b7 url('/dist/images/bottle-back.jpg') top left/cover no-repeat;
    padding-bottom: 0px;
    .screen-sm-min({
        padding-bottom: 30px; 
        background-size: contain;
    });
    
    img.bottle {
        max-height: 330px;
        margin: 30px auto 0px auto;
        z-index: 1;
        position: relative;
        .screen-sm-min({ 
            z-index: 0;
            position: static;
        });

    }
    .product {
        padding: 70px 40px 30px 40px;
        background-color: rgba(255, 255, 255, 1);
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -70px;

        .screen-sm-min({ 
            padding-top: 20px;
            background-color: rgba(255, 255, 255, 0.75);
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 50px;
        });
        h1 {
            font-size: 1.7em;
        }
    }

}

section.awards {
    background-color: #caccba;
    min-height: 25%;
    position: relative;
    border-style: solid;
    border-width: 35px 0px 0px;
    -moz-border-image: url('/dist/images/accolades-white-bottom-tear.jpg') 103 0 0 repeat;
    -webkit-border-image: url('/dist/images/accolades-white-bottom-tear.jpg') 103 0 0 repeat;
    -o-border-image: url('/dist/images/accolades-white-bottom-tear.jpg') 103 0 0 repeat;
    border-image: url('/dist/images/accolades-white-bottom-tear.jpg') 103 0 0 repeat;
    .screen-sm-min ({
        -moz-border-image: url('/dist/images/accolades-bottom-tear.jpg') 103 0 0 repeat;
        -webkit-border-image: url('/dist/images/accolades-bottom-tear.jpg') 103 0 0 repeat;
        -o-border-image: url('/dist/images/accolades-bottom-tear.jpg') 103 0 0 repeat;
        border-image: url('/dist/images/accolades-bottom-tear.jpg') 103 0 0 repeat;
    });
    .container {
        z-index: 1;
        position: relative;
        font-size: 1.2em;
        .screen-md-min ({
            background: url('/dist/images/accolades-image-small.jpg') top right/contain no-repeat;
        });
        .screen-lg-min ({
            background: url('/dist/images/accolades-image.jpg') top right/contain no-repeat;
        });
        h1 {
            font-size: 2em;
        }
        ul {
            padding-left: 20px;
            li {
                strong {
                    color: @main-h1-color;
                }
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 40px;
                }
            }
        }

    }
    .grey-president {
        height: 100%;
        top:0;
        right:0;
        position: absolute;
        z-index: 0;
        img {
            max-height: 100%;
        }
    }
}

footer {
    background: #262626;
    position: relative;
    .container {
        z-index: 1;
        position: relative;
    }
    .company {
        margin-top: 40px;
        font-family: 'EB Garamond', serif;
        color: #fefefe;
        font-size: 1.3em;
        img {
            max-height: 45px;
            margin: 0px auto;
        }
    }
    .portfolio-link {
        color: #878787;
        font-size: .8em;
        margin-top: 10px;
        > a {
            color: #878787;
            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }
    .address {
        color: #af9768;
        font-size: .8em;
        margin-top: 10px;
    }
    .terms-privacy-links {        
        font-size: .8em;
        margin-top: 10px;
        text-transform: uppercase;
        .navbar-nav {
            width: 100%;
            text-align: center;
            margin: 0;
            > li {
                float: none;
                display: inline-block;
            }
        }
        a {
            color: #878787;
            &:hover {
                color: #fff;
                background-color: transparent;
            }
        }
    }
    .footer-left {
        height: 100%;
        top:0;
        left:0;
        position: absolute;
        z-index: 0;
        img {
            max-height: 100%;
        }
    }
    .footer-right {
        height: 100%;
        top:0;
        right:0;
        position: absolute;
        z-index: 0;
        img {
            max-height: 100%;
        }
    }
}
