.main-font(@style,@weight) {
    font-family: "trajan-pro-3",sans-serif;
    font-style: @style;
    font-weight: @weight;
}

.rotate(@deg: 90) {
    /* Safari */
    -webkit-transform: rotate(@deg * 1deg);
    /* Firefox */
    -moz-transform: rotate(@deg * 1deg);
    /* IE10+ */
    transform: rotate(@deg * 1deg);
    /* Opera */
    -o-transform: rotate(@deg * 1deg);
    /* Internet Explorer */
    @IEdeg: round(@deg / 90, 0);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@IEdeg);
}
