body {
	
	.slider {
		height: 500px;
		background-color: #000;
		overflow: hidden;

		.container {
			width: auto;
			padding: 0;
			margin: 0;

			.item {
				max-width: none;
				height: 500px;
				background-position: center;
				background-repeat: no-repeat;
			}

			.slide-1 {
				background-image: url('../images/Cielo_Slider_Anejo.jpg');
			}
			.slide-2 {
				background-image: url('../images/Cielo_Slider_Reposado.jpg');
			}
			.slide-3 {
				background-image: url('../images/Cielo_Slider_Silver.jpg');
			}

		}
	}


}

@media (max-width: 480px){
	
	body {
		.slider {
			height: 400px;

			.container .item {
				height: 400px;
				background-size: auto 400px;
			}

		}
	}

}